# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.h5
*.pt
*.pth
*.jpg
*.png

# Build results
[Bb]in/
[Oo]bj/

# Specific files in obj folder
**/obj/**/*.exe
**/obj/**/*.dll
**/obj/**/*.pdb
**/obj/**/*.cache
**/obj/**/*.txt
**/obj/**/*.json
**/obj/**/*.cs
**/obj/**/*.editorconfig
**/obj/**/project.assets.json
**/obj/**/project.nuget.cache
/api/obj
api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/pharmacy.AssemblyInfo.cs
api/obj/Debug/net8.0/pharmacy.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/pharmacy.assets.cache
api/obj/Debug/net8.0/pharmacy.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/pharmacy.csproj.BuildWithSkipAnalyzers
api/obj/Debug/net8.0/pharmacy.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/pharmacy.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/pharmacy.csproj.Up2Date
api/obj/Debug/net8.0/pharmacy.dll
api/obj/Debug/net8.0/pharmacy.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/pharmacy.genruntimeconfig.cache
api/obj/Debug/net8.0/pharmacy.GlobalUsings.g.cs
api/obj/Debug/net8.0/pharmacy.MvcApplicationPartsAssemblyInfo.cache
api/obj/Debug/net8.0/pharmacy.MvcApplicationPartsAssemblyInfo.cs
api/obj/Debug/net8.0/pharmacy.pdb
api/obj/Debug/net8.0/pharmacy.sourcelink.json
api/obj/Debug/net8.0/ref/pharmacy.dll
api/obj/Debug/net8.0/refint/pharmacy.dll
api/obj/Debug/net8.0/staticwebassets.build.json
api/obj/Debug/net8.0/staticwebassets/msbuild.build.pharmacy.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.pharmacy.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.pharmacy.props
api/obj/pharmacy.csproj.nuget.dgspec.json
api/obj/pharmacy.csproj.nuget.g.props
api/obj/pharmacy.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/project.nuget.cache
